{% extends "invoice/base.html" %}

{% block sub_title %}
  Invoices for {{ contact.name }}
{% endblock sub_title %}

{% block sub_heading %}
  Invoices for {{ contact.name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <p>
        <a href="{% url 'crm.contact.detail' contact.slug %}">
          {{ contact.name }}
        </a>
        {{ contact.address }}
      </p>
      {% if invoice_list %}
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Number</th>
              <th>Date</th>
              <th>Net</th>
              <th>Gross</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in invoice_list %}
              <tr valign="top">
                <td>{{ invoice.invoice_number }}</td>
                <td>{{ invoice.invoice_date|date:"d/m/y" }}</td>
                <td>{{ invoice.net }}</td>
                <td>{{ invoice.gross }}</td>
                <td>
                  <a href="{% url 'invoice.download' invoice.pk %}">
                    {{ invoice.invoice_number }}.pdf
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        Sorry, there are no invoices on the system for {{ contact.name }}
      {% endif %}
    </div>
  </div>
{% endblock content %}
