{% extends "invoice/base.html" %}

{% block sub_title %}
  Invoices
{% endblock sub_title %}

{% block sub_heading %}
  Invoices
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      {% if invoice_list %}
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Number</th>
              <th>Date</th>
              <th>Contact</th>
              <th>Net</th>
              <th>Gross</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in invoice_list %}
              <tr valign="top">
                <td>
                  <a href="{% url 'invoice.detail' invoice.pk %}">
                    {% if invoice.is_draft %}
                      <i class="icon-edit"></i>
                    {% endif %}
                    {{ invoice.invoice_number }}
                  </a>
                </td>
                <td>{{ invoice.invoice_date|date:"d/m/y" }}</td>
                <td>
                  <a href="{% url 'crm.contact.detail' invoice.contact.slug %}">
                    <strong>{{ invoice.contact.name }}</strong>
                  </a>
                </td>
                <td>{{ invoice.net }}</td>
                <td>{{ invoice.gross }}</td>
                <td>
                  {% if invoice.is_draft %}
                    DRAFT
                  {% else %}
                    <a href="{% url 'invoice.download' invoice.pk %}">
                      {{ invoice.invoice_number }}.pdf
                    </a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        Sorry, there are no invoices on the system
      {% endif %}
    </div>
  </div>
{% endblock content %}
