{% extends "invoice/base.html" %}

{% block sub_title %}
  Invoice
{% endblock sub_title %}

{% block sub_heading %}
  {% if invoice.is_draft %}
    Draft
  {% endif %}
  {{ invoice.description }} {{ invoice.invoice_number }}
{% endblock sub_heading %}

{% block content %}
  {% include "invoice/_invoice_detail_menu.html" %}
  <div class="pure-g">
    <div class="pure-u-1">
      {% include "invoice/_invoice_detail.html" %}
    </div>
  </div>
  {% include "invoice/_invoice_detail_menu.html" %}
{% endblock content %}
