{% extends "invoice/base.html" %}

{% block sub_title %}
  Draft Invoice
{% endblock sub_title %}

{% block sub_heading %}
  Draft Invoice
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <p>
        <a href="{% url 'crm.contact.detail' contact.slug %}">
          {{ contact.name }}
        </a>
        {{ contact.address }}
      </p>
      {% if not messages %}
        Click 'Submit' to create an invoice at
        <strong>{{ contact.hourly_rate }} pounds per hour</strong>:
      {% endif %}
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th>Ticket</th>
            <th>Description</th>
            <th>Time</th>
            <th>Start</th>
            <th>Elapsed</th>
          </tr>
        </thead>
        <tbody>
          {% for timerecord in timerecords %}
            <tr valign="top">
              <td>
                <a href="{% url "crm.ticket.detail" timerecord.pk %}">
                  {{ timerecord.ticket.pk }}
                </a>
              </td>
              <td>
                <a href="{% url "crm.ticket.detail" timerecord.pk %}">
                  {{ timerecord.ticket.name }}
                </a>
              </td>
              <td>
                {{ timerecord.name }}
              </td>
              <td>
                {{ timerecord.date_started|date:"d/m/y" }}
                {{ timerecord.start_time|time:"H:i" }}
              </td>
              <td>{{ timerecord.delta_as_string }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if not messages %}
        {% include '_form.html' %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
