{% extends "invoice/base.html" %}

{% block sub_title %}
  Time records for ticket {{ ticket.pk }}
{% endblock sub_title %}

{% block sub_heading %}
  Time records for ticket {{ ticket.pk }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g-r">
    <div class="pure-u-1">
      <p>
        <a href="{% url 'crm.ticket.detail' ticket.pk %}">
          <strong>{{ ticket.title }}</strong>
        </a>
        <a href="{% url 'crm.contact.detail' ticket.contact.slug %}">
          {{ ticket.contact.name }}
        </a>
      </p>
      {% if timerecord_list %}
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th>Time</th>
              <th>Start</th>
              <th></th>
              <th>Elapsed</th>
              <th>Bill</th>
            </tr>
          </thead>
          <tbody>
            {% for timerecord in timerecord_list %}
              <tr valign="top">
                <td>
                  {% if not timerecord.end_time %}
                    <i class="fa fa-clock-o"></i>
                  {% endif %}
                  {% if user.is_staff %}
                  <a href="{% url "invoice.time.update" timerecord.pk %}">
                    <i class="fa fa-edit"></i>
                    {{ timerecord.title }}
                  </a>
                  {% else %}
                  <strong>{{ timerecord.title }}</strong>
                  {% endif %}
                  {% if timerecord.description %}
                    <br />
                    {{ timerecord.description|linebreaksbr }}
                  {% endif %}
                </td>
                <td>
                  {{ timerecord.date_started|date:"d/m/y" }}
                </td>
                <td>
                  {{ timerecord.start_time|time:"H:i" }}
                </td>
                <td>{{ timerecord.delta_as_string }}</td>
                <td>
                  {% if timerecord.invoice_line %}
                    <a href="{% url 'invoice.download' timerecord.invoice_line.invoice.pk %}">
                      {{ timerecord.invoice_line.invoice.invoice_number }}
                    </a>
                  {% else %}
                    {% if timerecord.billable %}
                      <small>Pending</small>
                    {% else %}
                      <small>No-charge</small>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>
          Click
          <a href="{% url "invoice.time.create" ticket.pk %}">Add time</a>
          to create a time record.
        </p>
      {% endif %}
      <div class="pure-menu pure-menu-open pure-menu-horizontal">
        <ul>
          {% if user.is_staff %}
          <li>
            <a href="{% url "invoice.time.create" ticket.pk %}">
              <i class="fa fa-clock-o"></i>
              Add time
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{% url "crm.note.create" ticket.pk %}">
              <i class="fa fa-comment"></i>
              Add note
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}
