{% extends "invoice/base.html" %}

{% block sub_title %}
  Time Summary for {{ user_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Time Summary for {{ user_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if user.is_staff %}
            {% include 'crm/_menu_time.html' %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th colspan="2">Ticket</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for d, summary in report.items %}
            <tr valign="top">
              <td colspan="2">
                <strong>
                  {{ d|date:'d/m/Y' }}
                </strong>
                <small>
                  {{ d|date:'l' }}
                <small>
              </td>
              <td>
              </td>
            </tr>
            {% for ticket in summary.tickets %}
              <tr valign="top">
                <td>
                  {{ ticket.pk }}
                </td>
                <td>
                  {{ ticket.contact }}:
                  <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                    {{ ticket.description }}
                  </a>
                </td>
                <td>
                  {{ ticket.format_minutes }}
                </td>
              </tr>
            {% endfor %}
            <tr valign="top">
              <td colspan="2">
              </td>
              <td>
                <strong>
                  {{ summary.format_total }}
                </strong>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
