{% extends 'invoice/base.html' %}

{% block sub_title %}
  Chargeable Time for {{ report_date|date:'M Y' }}
{% endblock sub_title %}

{% block sub_heading %}
  Chargeable Time for {{ report_date|date:'M Y' }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if user.is_staff %}
            {% include 'crm/_menu_time.html' %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% for user, data in report.items %}
        <table class="pure-table pure-table-bordered">
          <thead>
            <tr>
              <th colspan="2">{{ user }}</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            {% for pk, item in data.items %}
              <tr>
                <td>
                  {{ pk }}
                </td>
                <td>
                  {{ item.title }}
                </td>
                <td>
                  {{ item.total }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
