{% extends 'invoice/base.html' %}

{% block sub_title %}
  Time Summary for {{ user_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Time Summary for {{ user_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if user.is_staff %}
            {% include 'crm/_menu_time.html' %}
            <li class="pure-menu-item">
              <a href="{% url 'invoice.time.chargeable.user' user_pk %}" class="pure-menu-link">
                <i class="fa fa-credit-card"></i>
                Chargeable
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th colspan="2">Ticket</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          {% for tr in running %}
            {% if forloop.first %}
              <tr valign="top">
                <td colspan="2">
                  <strong>
                    Open Time Records
                  </strong>
                </td>
                <td>
                </td>
              </tr>
            {% endif %}
            <tr valign="top">
              <td>
                {{ tr.ticket.pk }}
              </td>
              <td>
                {{ tr.ticket.contact.full_name }}:
                <a href="{% url 'crm.ticket.detail' tr.ticket.pk %}">
                  {{ tr.ticket.title }}
                </a>
              </td>
              <td>
                <a href="{% url 'invoice.time.update' tr.pk %}?next={{ request.path }}">
                  <i class="fa fa-edit"></i>
                  {{ tr.start_time|time:'H:i' }}
                </a>
                <form action="." method="post" class="pure-form">
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                  {% endif %}
                  <small>
                    <button type="submit" name="pk" value="{{ tr.pk }}" class="pure-button">
                      Stop
                      {% if tr.chargeable %}
                        <i class="fa fa-gbp"></i>
                      {% else %}
                        <i class="fa fa-gift"></i>
                      {% endif %}
                    </button>
                  </small>
                </form>
              </td>
            </tr>
            {% if forloop.last %}
              <tr valign="top">
                <td colspan="3">
                  &nbsp;
                </td>
              </tr>
            {% endif %}
          {% endfor %}
          {% for d, summary in report.items %}
            <tr valign="top">
              <td colspan="2">
                <strong>
                  {{ d|date:'d/m/Y' }}
                </strong>
                <small>
                  {{ d|date:'l' }}
                <small>
              </td>
              <td>
              </td>
            </tr>
            {% for ticket in summary.tickets %}
              <tr valign="top">
                <td>
                  {{ ticket.pk }}
                </td>
                <td>
                  {{ ticket.contact }}:
                  <a href="{% url 'crm.ticket.detail' ticket.pk %}">
                    {{ ticket.description }}
                  </a>
                </td>
                <td>
                  {{ ticket.format_minutes }}
                </td>
              </tr>
            {% endfor %}
            <tr valign="top">
              <td colspan="2">
              </td>
              <td>
                <strong>
                  {{ summary.format_total }}
                </strong>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
