{% extends 'invoice/base.html' %}

{% block sub_title %}
  Chargeable Time for {{ user_full_name }}
{% endblock sub_title %}

{% block sub_heading %}
  Chargeable Time for {{ user_full_name }}
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% if user.is_staff %}
            {% include 'crm/_menu_time.html' %}
            <li class="pure-menu-item">
              <a href="{% url 'invoice.time.summary.user' user_pk %}" class="pure-menu-link">
                <i class="fa fa-clock-o"></i>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered">
        <thead>
          <tr>
            <th colspan="2">Ticket</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
